## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
*.bak.java


## Eclipse
##############################
.settings/
bin/
tmp/
bin/**
tmp/**
tmp/**/*
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
*.xml
